<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
http://www.springframework.org/schema/aop 
http://www.springframework.org/schema/aop/spring-aop-4.0.xsd 
http://www.springframework.org/schema/tx 
http://www.springframework.org/schema/tx/spring-tx-4.0.xsd 
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	<bean id="baseDAO" class="shopping.dao.BaseHibernateDAO">
	</bean>

	<bean id="adminDAO" class="shopping.dao.AdminDAO" parent="baseDAO" />

	<bean id="adminService" class="shopping.service.AdminService">
		<property name="adminDAO" ref="adminDAO" />
	</bean>

	<bean id="adminAction" class="shopping.action.AdminAction"
		scope="prototype">
		<property name="adminService" ref="adminService" />
	</bean>

	<bean id="customerDAO" class="shopping.dao.CustomerDAO"
		parent="baseDAO" />

	<bean id="customerService"
		class="shopping.service.CustomerService">
		<property name="customerDAO" ref="customerDAO" />
	</bean>

	<bean id="customerAction" class="shopping.action.CustomerAction"
		scope="prototype">
		<property name="customerService" ref="customerService" />
	</bean>

	<bean id="itemDAO" class="shopping.dao.ItemDAO" parent="baseDAO" />

	<bean id="itemService" class="shopping.service.ItemService">
		<property name="itemDAO" ref="itemDAO" />
	</bean>

	<bean id="itemAction" class="shopping.action.ItemAction"
		scope="prototype">
		<property name="itemService" ref="itemService" />
	</bean>
</beans>